---
title: Pogo Paste
layout: null
permalink: index.html
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pogo Paste</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧢</text></svg>">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main>
    <h1>Pogo Paste</h1>

    <div id="toast" class="toast hidden"></div>

    <table id="symbolsTable">
      <tbody>
        {% for group in collections.all[0].data.symbols %}
            <tr><td colspan="2">
                <h2>{{ group.name }}</h2>
            </td></tr>
            {% for item in group.items %}
                <tr>
                <td class="{{item.className}}">
                    {% if item.icon %}
                        <img src="/static/images/{{ item.icon }}" alt="{{ item.name }} icon" class="type-icon">
                    {% endif %}
                    {{ item.name }}
                </td>
                <td class="copy-btn-cell">
                    <input type="button" value="{{ item.symbol }}" class="copy-btn" />
                </td>
                </tr>
            {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </main>

  <script src="/static/script.js"></script>
</body>
</html>
