@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, main {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 1.1em;
}

body {
  display: flex;
  justify-content: center;
  background: #eef4ff29;
}

.pokemon-text {
  font-size: 42px;
  color: #ffff24;
  -webkit-text-stroke: 1.5px #5050e1; /* Blue border */
  text-stroke: 1.5px #5050e1; /* Firefox */
  font-weight: bold;
}

.copy-btn {
  width: 40px;
  height: 25px;
  background: #eff5f88f;
  border: 1px solid #030738;
  border-radius: 4px;
  display: flex;
  place-items: center;
}
.copy-btn:hover,.copy-btn:focus,.copy-btn:active {
  background: #daf1fc8f;
}

td {
  padding: 2px;
}

.type-cell {
  width: 133px;
}

.copy-btn-cell {
  padding-left: 8px;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  opacity: 0.9;
  transition: opacity 0.5s ease;
}

.toast.success {
  background: green;
}
.toast.error {
  background: red;
}
.toast.info {
  background: #007bff;
}

.toast.hidden {
  display: none;
}

:root {
    --type-bug: #85b430;
    --type-dark: #4f4c5f;
    --type-dragon: #035094;
    --type-electric: #c09b2d;
    --type-fairy: #c966bf;
    --type-fighting: #a02c3b;
    --type-fire: #be7510;
    --type-flying: #7188b0;
    --type-ghost: #574e87;
    --type-grass: #248b46;
    --type-ground: #aa6641;
    --type-ice: #6ea19f;
    --type-normal: #727475;
    --type-poison: #b03a9a;
    --type-psychic: #cc595d;
    --type-rock: #9f9052;
    --type-steel: #548a9e;
    --type-water: #3f7dba
}
.type-bug { background-color: var(--type-bug) }
.type-dark { background-color: var(--type-dark) }
.type-dragon { background-color: var(--type-dragon) }
.type-electric { background-color: var(--type-electric) }
.type-fairy { background-color: var(--type-fairy) }
.type-fighting { background-color: var(--type-fighting) }
.type-fire { background-color: var(--type-fire) }
.type-flying { background-color: var(--type-flying) }
.type-ghost { background-color: var(--type-ghost) }
.type-grass { background-color: var(--type-grass) }
.type-ground { background-color: var(--type-ground) }
.type-ice { background-color: var(--type-ice) }
.type-normal { background-color: var(--type-normal) }
.type-poison { background-color: var(--type-poison) }
.type-psychic { background-color: var(--type-psychic) }
.type-rock { background-color: var(--type-rock) }
.type-steel { background-color: var(--type-steel) }
.type-water { background-color: var(--type-water) }


.type-bug,
.type-dark,
.type-dragon,
.type-electric,
.type-fairy,
.type-fighting,
.type-fire,
.type-flying,
.type-ghost,
.type-grass,
.type-ground,
.type-ice,
.type-normal,
.type-poison,
.type-psychic,
.type-rock,
.type-steel,
.type-water {
  color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2px;
  width: 100%;
}

.type-container {
    display: flex;
    place-items: center;
    gap: 4px;
}

td img {
    height: 20px;
}
