<div class="cards-container search-container">
{% for group in search %}
  <div class="search-card">
    <h2 class="archivo-black-regular">{{ group.name }}</h2>
    <div class="search-items">
      {% for item in group.items %}
        <div class="search-item">
          <div class="search-row">
            <span class="search-name">{{ item.name }}</span>
            <button class="search-compact-copy" value="{{ item.string }}" aria-label="Copy">
              {% include "icons/copy.svg" %}
            </button>
          </div>
          <input type="button" value="{{ item.string }}" class="copy-btn search-code-copy" title="Click to copy" />
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
</div>
